root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.scm]
indent_style = space
indent_size = 2

[{meson.build,meson.options}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
tab_size = 4

[*.ninja]
insert_final_newline = true